<div class="home-container">
  <div class="search-container">
      <input type="text"
             class="search-input"
             placeholder="SEARCH"
             [(ngModel)]="searchText"
             (keyup)="onSearch()">
    <span class="search-word">SEARCH</span>
  </div>
  <div class="images-container">
    <ng-container *ngIf="!firstLoading">
      <div *ngFor="let image of images" class="img-mr">
        <app-image [image]="image"></app-image>
      </div>
    </ng-container>
    <div *ngIf="firstLoading || loading" class="loader"></div>
  </div>
</div>

