<div class="home-container">
  <div class="search-container">
    <input (keyup)="onSearch()"
           [(ngModel)]="searchText"
           class="search-input"
           placeholder="SEARCH"
           type="text">
    <span class="search-word">SEARCH</span>
  </div>
  <div class="images-container">
    <ng-container *ngIf="!firstLoading">
      <div *ngFor="let image of images; trackBy: trackById" class="img-mr">
        <app-image (addSubject)="addToFavorite($event)"
                   (removeSubject)="removeFromFavorites($event)"
                   [image]="image"
                   [isFavorite]="inFavorites(image.id)"></app-image>
      </div>
    </ng-container>
    <div *ngIf="everyLoading()" class="loader"></div>
  </div>
</div>

